*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /*
    font-family: 'Barlow', sans-serif;
    font-family: 'Bellefair', serif;
    */
}
:root{
  --color-black: #0b0d17;
  --color-gray: #d0d6f9;
  --color-white: #ffffff;
}
html, body{
    height: 100%;
    overflow: hidden;
    transition: all 1.4s ease-in-out;
    font-family: 'Barlow', sans-serif;
    background-color: black;
}

header{
  padding-top: 15px;
  width: 100vw;
  position: fixed;
  nav{
    /* background-color: #ff000034; */
    min-height: 75px;
    /* height: 10vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-wrap{
      /* background-color: green; */
      width: 80px;
      height: 100%;
      display: flex;
      justify-content: center;
      margin-left: 2%;
      .logo{
        background-image: url('../assets/shared/logo.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 80px;
      }
    }
    
    .content-wrap{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .line-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        margin-right: -35px;
        .nav-line{
        height: 2px;
        width: 20vw;
        background-color: #77777762;
          backdrop-filter: blur(10px);
        }
      }
    
      .menu{
        background-color: #55545421;
        backdrop-filter: blur(10px);
        min-width: 650px;
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a, div{
            cursor: pointer;
            user-select: none;
            text-transform: uppercase;
            margin-left: 80px;
            line-height: 75px;
            text-decoration: none;
            color: white;
            position: relative;
              &::before{
                content: '';
                position: absolute;
                height: 3px;
                width: 0px;
                left: 0;
                bottom: 0px;
                background: #979797; 
                transition: all .5s ease;
              }
              &:hover::before{
                width: 100%;
              }
              span{
                font-weight: bold;
                margin-right: 5px;
              }
        }
    }

    }
    
  }
}

main{
    height: 100vh;
    //background-image: url('../assets/home/background-home-desktop.jpg');
    //background-image: url('../assets/destination/background-destination-desktop.jpg');
    //background-image: url('../assets/crew/background-crew-desktop.jpg');
    //background-image: url('../assets//technology/background-technology-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    
    .main-content{
      margin-top: 85px;
      height: 100%;
      /* background-color: green; */
      height: 100vh;
      .section{
        height: 100%;
        padding: 80px;
        transition: all .4s ease-in-out;
        .nav-menu-active-txt{
          text-align: center;
          width: 30%;
          color: white;
          font-weight: 400;
          text-transform: uppercase;
          span{
            font-weight: bold;
            color: #979797;
            margin-right: 15px;
          }
        }
      }
      .home{
        /* visibility: hidden; */
        display: none;
        .home-wrap{
          display: flex;
          height: 70%;
          /* padding: 80px; */
          justify-content: space-around;
          align-items: center;
          /* background-color: green; */
          
          /* position: absolute;
          bottom: 80px; */
        }
        
      .main-content-txt{
        width: 30%;
        max-width: 430px;
        color: var(--color-gray);
        text-align: justify;
        h1{
          font-size: 2rem;
          text-transform: uppercase;
          margin-left: 5px;
          font-weight: 400;
          span{
            display: inline-block;
            margin-left: -10px;
            width: 100%;
            font-size: 9.3rem;
            font-family: 'Bellefair', serif;
            font-weight: 400;
            color: var(--color-white);
          }
        }
        p{
          margin-top: 35px;
          font-size: 1.2rem;
        }
        /* background-color: red; */
      }
      .main-content-img{
        width: 350px;
        height: 350px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s ease;
        box-shadow: 0px 0px 15px 5px #ffffff; 
        &:hover{
          filter: invert(1);
          box-shadow: 0px 0px 15px 5px #ffffff; 
        }
        h2{
            font-family: 'Bellefair', serif;
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 400;
        }
        
      }
      }
      .destination{
        /* visibility: hidden; */
        display: none;
        /* background-color: green; */
        /* padding: 80px; */
        /* background-color: rgba(255, 0, 0, 0.658); */
        /* transform: translateY(-100%); */
        
        .destination-content{
          padding-top: 55px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .destination-img{
            width: 445px;
            height: 445px;
          }
          .destination-container{
            width: 50%;
            max-width: 445px;
            .destination-menu{
              font-family: 'Barlow', sans-serif;
              text-transform: uppercase;
              padding-left: 15px;
              width: 350px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              div{
                cursor: pointer;
                user-select: none;
                line-height: 55px;
                text-decoration: none;
                color: var(--color-gray);
                position: relative;
                &::before{
                  content: '';
                  position: absolute;
                  height: 3px;
                  width: 0px;
                  left: 0;
                  bottom: 0px;
                  background: #979797; 
                  transition: all .5s ease;
                }
                &:hover::before{
                  width: 100%;
                }
              }
            }
            .destination-txt{
              font-family: 'Barlow', sans-serif;
              color: var(--color-gray);
              .destination-title{
                font-family: 'Bellefair', serif;
                font-size: 8.5rem;
                text-transform: uppercase;
                color: var(--color-white);
                font-weight: 400;
              }
              .destination-line{
                width: 100%;
                height: 1px;
                background-color: #9797978e;
                margin-top: 35px;
                margin-bottom: 15px;
              }
              .destination-info{
                display: flex;
                justify-content: space-around;
                text-transform: uppercase;
                h2{
                  font-family: 'Bellefair', serif;
                  font-weight: 400;
                  color: var(--color-white);
                }
              }
            }
          }
          
        }
      }
      .crew{
        display: none;
        /* background-color: red; */
        /* transform: translateY(-200%); */
        padding-bottom: 15px;
        .crew-slide{
          /* background-color: red; */
          height: 70%;
          .owl-carousel{
            /* background-color: blue; */
            height: 100%;
            position: relative;
            /* span{
              filter: invert(1);
              
            } */
            .item{
              width: 100vw;
              height: 70vh;
              /* background-color: yellow; */
              .item-content-wrap{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .item-txt{
                  width: 30%;
                  color: white;
                  h3{
                    color: gray;
                    text-transform: uppercase;
                    font-size: 1.5rem ;
                  }
                  h2{
                    font-family: 'Bellefair', serif;
                    font-weight: 400;
                    font-size: 3rem;
                    text-transform: uppercase;
                    margin-top: 25px;
                    margin-bottom: 15px;
                  }
                  p{
                    text-align: justify;
                    font-size: 1.2rem;
                    width: 65%;
                  }
                }
                .item-img{
                  max-width: 100%;
                  height: auto;
                }
              }
              
            }
          }
        }
      }
      .tecnology{
          display: none;
          /* transform: translateY(-300%); */
        .tecnology-content{
          height: 60vh;
          padding-top: 55px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .tecnology-menu{
            /* background-color: rgb(8, 0, 255); */
            flex-direction: column;
            .t-menu{
              cursor: pointer;
              width: 80px;
              height: 80px;
              text-align: center;
              margin-bottom: 15px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid var(--color-gray);
              h2{
                color: var(--color-white);
                font-family: 'Bellefair', serif;
                font-weight: 400;
              }
            }
          }
          .tec-content-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tec-txt{
              height: 50%;
              width: 30%;
              margin-left: 55px;
              font-size: 1.5rem;
              color: var(--color-gray);
              span{
                text-transform: uppercase;
              }
              h2{
                color: var(--color-white);
                font-family: 'Bellefair', serif;
                font-weight: 400;
                font-size: 3rem;
                text-transform: uppercase;
                margin-top: 15px;
                margin-bottom: 25px;
              }
            }
            .tec-img{
              width: 30vw;
              height: 60vh;
              /* margin-left: ; */
              
              
            }

          }
          
        }
      }
    }
}


/* GERAIS */
.owl-dots{
  display: flex;
  margin-left: 85px;
  /* filter: invert(1); */
  .active{
    background: white;
  }
}
.active-btn{
  position: relative;
  &::before{
    content: '';
    position: absolute !important;
    height: 3px;
    width: 100% !important;
    left: 0;
    bottom: 0px;
    background: white !important;
  }
}
.sec-active{
  display: block !important;
}
.destination-btn{
  position: relative;
  &::before{
    content: '';
    position: absolute !important;
    height: 3px;
    width: 100% !important;
    left: 0;
    bottom: 0px;
    background: white !important;
  }
}
.t-menu-active{
  background-color: white;
  border: none;
  h2{
    color: var(--color-black) !important; 
  }
  
}